# compilation and distribution
__pycache__
_ext
*.pyc
*.so
maskrcnn_benchmark.egg-info/
build/
dist/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# project dirs
/datasets
/models
philly_training/
local_training/
loacal_training/
aml_training/
visual_output/

# maskrcnn_benchmark/

maskrcnn_benchmark/modeling/rpn/fcos/dcn/.eggs/
maskrcnn_benchmark/modeling/rpn/fcos/dcn/lib.egg-info/